.title-h1 {
  color: #000;
  font-size: 45pt;
  font-family: "Great Vibes", cursive;
  margin-bottom: 55px;
}

.title-h4 {
  text-align: center;
  color: #000;
  font-size: 22pt;
  font-family: "Great Vibes", cursive;
  margin-bottom: 0px;
}
.text {
  color: #000;
  font-weight: bold;
}

.content-text {
  font-size: 18pt;
  font-family: "Great Vibes", cursive;
}

.main {
  max-width: 80%;
  align-items: center;
  text-align: start;
  margin: auto;
}

.footer {
  align-items: center;
  text-align: center;
  margin-top: 20px;
}
